.containerSchedule {
    position: absolute;
    width: 109%;
    height: 100%;
    bottom: 0;
    top: 0;
    left: 0;
    background: rgba(58, 58, 58, 0.9);
    z-index: 99;
}

.modalSchedule {
    position: relative;
    width: 550px;
    height: 330px;
    border-radius: 15px;
    box-shadow: -1px 1px 2px #686868 ;
    background: white;
    top: 30%;
    margin: 0 auto;
    padding: 15px 10px;
}

.modalFechar {
    position: absolute;
    width: 30px;
    right: 0px;
    top: 10px;
    color: darkgray;
    cursor: pointer;
}

.modalFechar:hover {
    transform: scale(1.2);
}

.corpoSchedule {
    font-size: 1.8rem;
}

.corpoSchedule p, .corpoSchedule p b{
    font-size: 0.8rem;
    color: var(--grey-font);
    width: 70%;
}

.corpoSchedule p {
    margin-left: 75px;
}

.modalSchedule img{
    height: 30px;
    width: auto;
}

.modalScheduleHeader img{ 
    width: 30px;
    height: 25px;
}

.modalScheduleHeader {
    color: #0b534a;
    width: 100%;
    display: flex;
    font-size: 16px;
}

.inputGroup {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.inputGroupEmail {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.inputGroupContainer {
    width: 85%;
}

.inputGroup select {
    min-width: 19%;
    height: 36px;
    border: 0.5px solid #ddd;
    border-radius: 5px;
}

.select {
    margin-top: 10px;
}

.inputGroup input {
    height: 36px;
    min-width: 79%;
    padding-left: 10px;
    border: 0.5px solid #ddd;
    border-radius: 5px
}


.inputControl {
    height: 36px;
    width: 100%;
    margin-top: 10px;
    padding-left: 10px;
    outline: none;
    border: 0.5px solid #ddd;
    border-radius: 5px

}

.btnAction {
    padding: 5px;
    border-radius: 3px;
}

.tableAvailableTimeContainer {
    height: 80px;
    overflow: auto;
    border-radius: 8px;
    border-bottom: 1px solid #b7b7b7;
}

.tableAvailableTime{
    overflow: auto;
    width: 100%;
    border: none;
    border-radius: 25px;
    margin-top: 10px;
}

.tableAvailableTime thead{
    background-color: #11756a;
    color: rgb(243, 243, 243);
    font-size: 14px;
    font-weight: 300;
    position: relative;
}


.tableAvailableTime tbody{
    color: rgb(82, 82, 82);
    font-size: 12px;
    text-align: center;
}

.tableAvailableTime tbody tr td{
    border-left: 1px solid rgb(228, 228, 228);
}

.tableAvailableTime tbody tr td{
    height: 30px;
}

.tableAvailableTime button {
    font-size: 10px;
    padding: 2px 5px;
}

.tableAvailableTime thead th {
    height: 30px;
}

.modalAction {
    width: 100%;
    text-align: end;
    padding-top: 15px;
    cursor: pointer;
}

.inputControl:active {
    border: none;
}

.inputGroupRadio input {
    padding-top: 2px;
}
.inputGroupRadio span {
    font-size: 0.7rem;
}

.instructionSelectDate {
    background-color: #eee;
    color: #929292;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 130px;
    align-items: center;
    border-radius: 5px;
    margin-top: 10px;
    padding: 20px 50px 0px 50px;
}

.instructionSelectDate svg {
    opacity: 0.5;
}